

<li class="header"><span>Overview</span></li>
<li>
    <a href="~/HomeSWA" title="Admin Dashboard" id="mnHomeSWA" class="mActive">
        <i class="glyph-icon icon-linecons-tv"></i>
        <span>Admin dashboard</span>
    </a>
</li>
<li class="divider"></li>
<li class="header"><span>Data</span></li>

<li>
    <a href="~/TataTertibSWA" title="Tata Tertib" id="mnTataTertibSWA">
        <i class="glyph-icon icon-linecons-lightbulb"></i>
        <span>Tata Tertib</span>
        <span class="bs-label label-primary">Hot</span>
    </a>
</li>
@*<li>
    <a href="~/PenilaianDiriSWA" title="Poin Siswa" id="mnPenilaianDiriSWA">
        <i class="glyph-icon icon-linecons-wallet"></i>
        <span>Penilaian Diri</span>
    </a>
</li>*@
<li>
    <a href="~/PoinSiswaSWA" title="Poin Siswa" id="mnPoinSiswaSWA">
        <i class="glyph-icon icon-linecons-fire"></i>
        <span>Poin Siswa</span>
    </a>
</li>
<li class="header"><span>User Login</span></li>
<li>
    <a href="~/DataSiswaSWA" title="Data Siswa" id="mnDataSiswaSWA">
        <i class="glyph-icon icon-linecons-cd"></i>
        <span>Data Siswa</span>
    </a>
</li>