

<li class="header"><span>Overview</span></li>
<li>
    <a href="~/HomeWKL" title="Admin Dashboard" id="mnHomeWKL" class="mActive">
        <i class="glyph-icon icon-linecons-tv"></i>
        <span>Admin dashboard</span>
    </a>
</li>
<li class="divider"></li>
<li class="header"><span>Data</span></li>
<li>
    <a href="~/PoinSiswaWKL" title="Poin Siswa" id="mnPoinSiswaWKL">
        <i class="glyph-icon icon-linecons-wallet"></i>
        <span>Poin Siswa</span>
    </a>
</li>
<li>
    <a href="~/PrintKelasWKL" title="Nilai Karakter" id="mnPrintKelasWKL">
        <i class="glyph-icon icon-linecons-eye"></i>
        <span>Print Kelas</span>
    </a>
</li>
<li class="header"><span>User Login</span></li>
<li>
    <a href="~/WaliKelasWKL" title="Wali Kelas" id="mnWaliKelasWKL">
        <i class="glyph-icon icon-linecons-cup"></i>
        <span>Wali Kelas</span>
    </a>
</li>
<li>
    <a href="~/DataSiswaWKL" title="Data Siswa" id="mnDataSiswaWKL">
        <i class="glyph-icon icon-linecons-cd"></i>
        <span>Data Siswa</span>
    </a>
</li>