

    <li class="header"><span>Overview</span></li>
    <li>
        <a href="~/Home" title="Admin Dashboard" id="mnHome" class="mActive">
            <i class="glyph-icon icon-linecons-tv"></i>
            <span>Admin dashboard</span>
        </a>
    </li>
    <li class="divider"></li>
    <li class="header"><span>Data</span></li>
    <li>
        <a href="~/Pengumuman" title="Pengumuman" id="mnPengumuman">
            <i class="glyph-icon icon-linecons-diamond"></i>
            <span>Pengumuman</span>
        </a>
    </li>
    <li>
        <a href="~/TataTertib" title="Tata Tertib" id="mnTataTertib">
            <i class="glyph-icon icon-linecons-lightbulb"></i>
            <span>Tata Tertib</span>
            <span class="bs-label label-primary">Hot</span>
        </a>
    </li>
    <li>
        <a href="~/PoinSiswa" title="Poin Siswa" id="mnPoinSiswa">
            <i class="glyph-icon icon-linecons-wallet"></i>
            <span>Poin Siswa</span>
        </a>
    </li>
    <li>
        <a href="~/NilaiKarakter" title="Nilai Karakter" id="mnNilaiKarakter">
            <i class="glyph-icon icon-linecons-eye"></i>
            <span>Nilai Karakter</span>
        </a>
    </li>
    <li class="header"><span>User Login</span></li>
    <li>
        <a href="~/GuruBK" title="Guru BK" id="mnGuruBK">
            <i class="glyph-icon icon-linecons-fire"></i>
            <span>Guru BK</span>
            <span class="bs-label badge-yellow">NEW</span>
        </a>
    </li>
    <li>
        <a href="~/WaliKelas" title="Wali Kelas" id="mnWaliKelas">
            <i class="glyph-icon icon-linecons-cup"></i>
            <span>Wali Kelas</span>
        </a>
    </li>
    <li>
        <a href="~/DataSiswa" title="Data Siswa" id="mnDataSiswa">
            <i class="glyph-icon icon-linecons-cd"></i>
            <span>Data Siswa</span>
        </a>
    </li>